# Introduction

The ongoing economic crisis in Türkiye has been characterized by high inflation, the depreciation of the Turkish Lira (TRY), rising borrowing costs, and increasing loan defaults. The underlying causes of the crisis can be attributed to several factors, including political instability, global economic pressures, and the implementation of unconventional economic policies. Since 2018, inflation has been a persistent issue, partly due to fluctuations in global oil prices and exchange rates, with Turkey's inflation rate ranking among the highest in emerging markets (Yilmazkuday, 2022). The effectiveness of inflation-targeting policies has been limited by both internal shocks, such as political events and the COVID-19 pandemic, and external factors, such as rising global inflation (Nazlioglu et al., 2024). Furthermore, the Turkish government's policy of maintaining low interest rates to stimulate growth, despite the conventional theory that raising interest rates should reduce inflation, has contributed significantly to the current economic challenges (Kantur & Özcan, 2022). Nevertheless, interest rates have been raised significantly. As of November 2024, the most recent rate hike was in March 2024, when the central bank increased the policy rate by 5 percentage points to 50% as the year-on-year inflation reached 75% (Bloomberg, 2024). Since then, the rate has remained unchanged as the central bank has been committed to fighting high inflation and stabilising the Turkish lira. As of October 2024, year-on-year inflation stands at 48% (Bloomberg, 2024).

This study aims to analyze which assets, as well as which portfolio of assets, would have been the most effective in hedging against Turkish inflation.

# Setup

In [5]:
import pandas as pd

# Data - Import and Processing

**Note about using your own data:** *To use your own input data, please match the format of the raw data samples provided in the "data/sample data" directory. Once you've ensured that, you can simply copy your data into the data/raw directory and proceed with the guide without issues.*

The detailed data processing can seeing in this notebook: ["DATABASE AND PREPROCESS FOR DATA.ipynb"](https://github.com/denis-lasser/hedging-against-turkish-inflation/blob/main/notebooks/DATABASE%20AND%20PREPROCESS%20FOR%20DATA.ipynb).

The raw data for each asset is a separate excel input file. The data is loaded, processed, returns calculated, and then stored in a sqlite database. The data used in this analysis was based on monthly data in the timespan from January 2018 to September 2024. Most of the data is from bloomberg. The data for the house price index was obtained from the Turkish Central Bank's EVDS database. Specifically, the TP KFE TR-1 series was used, which tracks nationwide residential property prices in Türkiye.

Samples for the data format can be found in the "data/sample data" directory. The raw data should have the following format (please note that the samples are fictional):

In [12]:
# for stock exchange data
df_stocks = pd.read_excel("data/sample data/borsa_ist.xlsx")
df_stocks

        Date  Last Price (TRY)
0 2024-09-30           1234.56
1 2024-08-30           1234.56
2 2024-07-31           1234.56
3 2024-06-28           1234.56
4 2024-05-31           1234.56

In [13]:
# for bitcoin
df_btc = pd.read_excel("data/sample data/btc.xlsx")
df_btc

        Date  Last Price (USD)
0 2024-09-30           1234.56
1 2024-08-31           1234.56
2 2024-07-31           1234.56
3 2024-06-30           1234.56
4 2024-05-31           1234.56

In [14]:
# for gold
df_gold = pd.read_excel("data/sample data/gold_prices.xlsx")
df_gold

        Date  Last Price (USD)
0 2024-09-30           1234.56
1 2024-08-30           1234.56
2 2024-07-31           1234.56
3 2024-06-28           1234.56
4 2024-05-31           1234.56

In [15]:
# for government bonds
df_bonds = pd.read_excel("data/sample data/gov_bonds.xlsx")
df_bonds

        Date  Yield (%)
0 2024-09-30      12.34
1 2024-08-30      12.34
2 2024-07-31      12.34
3 2024-06-28      12.34
4 2024-05-31      12.34

In [16]:
# for house price index
df_hpi = pd.read_excel("data/sample data/hpi.xlsx")
df_hpi

     Tarih  TP KFE TR-1
0  2024-09         1.23
1  2024-08         1.23
2  2024-07         1.23
3  2024-06         1.23
4  2024-05         1.23

In [17]:
# for inflation
df_inf = pd.read_excel("data/sample data/Turkish Inflation 2018-2024.xlsx")
df_inf

        Date   in %
0 2024-09-30  12.34
1 2024-08-31  12.34
2 2024-07-31  12.34
3 2024-06-30  12.34
4 2024-05-31  12.34

# Methodology
This study examines the effectiveness of various assets as hedges against Turkish inflation, using monthly data from January 2018 to September 2024. The monthly frequency was selected for the following reasons:

1. The use of monthly data allows for the smoothing of short-term fluctuations. This facilitates the identification of more coherent relationships between inflation and asset returns. 
2. Key economic indicators, including inflation rates, are typically reported on a monthly basis. By aligning asset data with this frequency, the analysis maintains consistency and relevance in relation to reported inflation rates.
3. The influence of short-term trading anomalies, seasonal effects and temporary market shocks on weekly data must be acknowledged. Monthly data minimizes the impact of these irregularities, thereby providing a more stable basis for the analysis of assets as potential inflation hedges.

# Analysis

# Results