In [69]:
import pandas as pd

In [70]:
df_stock_exchange = pd.read_excel('../data/raw/borsa_ist.xlsx')
df_bitcoin = pd.read_excel('../data/raw/btc.xlsx')
df_gold = pd.read_excel('../data/raw/gold_prices.xlsx')
df_gov_bonds = pd.read_excel('../data/raw/gov_bonds.xlsx')
df_hpi = pd.read_excel('../data/raw/hpi.xlsx')
df_inf = pd.read_csv('../data/raw/turkish_inflation_cpi.csv',sep=";")

# Risk Free Rate Calculation:

In [71]:
df_risk_free = pd.read_excel('../data/raw/USGG10YR Index.xlsx')
df_risk_free['Date'] = df_risk_free['Date'].dt.to_period('M')
df_risk_free['Date'] = df_risk_free['Date'].astype(str)
df_risk_free.rename(columns={'Yield in %': 'Yield'}, inplace=True)
df_risk_free['Yield'] = df_risk_free['Yield'] / 100
df_risk_free.to_csv('../data/processed/df_risk_free.csv', index=False)
df_risk_free.head()

      Date     Yield
0  2024-09  0.037809
1  2024-08  0.039034
2  2024-07  0.040296
3  2024-06  0.043961
4  2024-05  0.044985

# Stock_Exchange:

In [72]:
df_stock_exchange = df_stock_exchange.iloc[1:].reset_index(drop=True)
df_stock_exchange.rename(columns={'Unnamed: 0': 'Date'}, inplace=True)
df_stock_exchange.rename(columns={'Unnamed: 1': 'Price_Stock_Ex'}, inplace=True)
df_stock_exchange['Date'] = pd.to_datetime(df_stock_exchange['Date'], errors='coerce')
df_stock_exchange['Date'] = df_stock_exchange['Date'].dt.strftime('%Y-%m')

df_stock_exchange['stock_return_mo'] = df_stock_exchange['Price_Stock_Ex'] / df_stock_exchange['Price_Stock_Ex'].shift(-1) - 1 #calculate 1 month stock return
df_stock_exchange['stock_return_pa'] = (1 + df_stock_exchange['stock_return_mo'])**(12) - 1 #calculate stock return per annum

index_to_drop = df_stock_exchange[df_stock_exchange['Date'] == '2018-01'].index
index_to_drop2 = df_stock_exchange[df_stock_exchange['Date'] == '2024-09'].index

df_stock_exchange.drop(index_to_drop, inplace=True)
df_stock_exchange.drop(index_to_drop2, inplace=True)

df_stock_exchange.to_csv('../data/processed/df_stock_exchange.csv', index=False)
df_stock_exchange.head()

      Date Price_Stock_Ex stock_return_mo stock_return_pa
1  2024-08         288.57       -0.101756       -0.724111
2  2024-07         321.26       -0.012055       -0.135442
3  2024-06         325.18        0.006874        0.085678
4  2024-05         322.96        0.041538         0.62967
5  2024-04         310.08         0.09825        2.079046

# Bitcoin:

In [73]:
df_bitcoin = df_bitcoin.iloc[1:].reset_index(drop=True)
df_bitcoin.rename(columns={'Unnamed: 0': 'Date'}, inplace=True)
df_bitcoin.rename(columns={'Unnamed: 1': 'Price_Bitcoin'}, inplace=True)
df_bitcoin['Date'] = pd.to_datetime(df_bitcoin['Date'], errors='coerce')
df_bitcoin['Date'] = df_bitcoin['Date'].dt.strftime('%Y-%m')

df_bitcoin['btc_return_mo'] = df_bitcoin['Price_Bitcoin'] / df_bitcoin['Price_Bitcoin'].shift(-1) -1 # calculate 1 month return
df_bitcoin['btc_return_pa'] = (1 + df_bitcoin['btc_return_mo'])**(12) - 1 #calculate return per annum

index_to_drop = df_stock_exchange[df_stock_exchange['Date'] == '2018-01'].index
index_to_drop2 = df_stock_exchange[df_stock_exchange['Date'] == '2024-09'].index

df_stock_exchange.drop(index_to_drop, inplace=True)
df_stock_exchange.drop(index_to_drop2, inplace=True)

df_bitcoin.to_csv('../data/processed/df_bitcoin.csv', index=False)
df_bitcoin.head()

      Date Price_Bitcoin btc_return_mo btc_return_pa
0  2024-09      63785.09      0.081934      1.572833
1  2024-08      58954.67     -0.086823     -0.663752
2  2024-07      64559.96      0.042888      0.655212
3  2024-06      61904.96     -0.084658      -0.65406
4  2024-05      67630.41      0.129642      3.318071

# Gold:

In [74]:
df_gold = df_gold.iloc[1:].reset_index(drop=True)
df_gold.rename(columns={'Unnamed: 0': 'Date'}, inplace=True)
df_gold.rename(columns={'Unnamed: 1': 'Price_Gold'}, inplace=True)
df_gold['Date'] = pd.to_datetime(df_gold['Date'], errors='coerce')
df_gold['Date'] = df_gold['Date'].dt.strftime('%Y-%m')

df_gold['gold_return_mo'] = df_gold['Price_Gold'] / df_gold['Price_Gold'].shift(-1) -1 # calculate 1 month return
df_gold['gold_return_pa'] = (1 + df_gold['gold_return_mo'])**(12) - 1 #calculate return per annum (annualized return)

index_to_drop = df_gold[df_gold['Date'] == '2018-01'].index
index_to_drop2 = df_gold[df_gold['Date'] == '2024-09'].index

df_gold.drop(index_to_drop, inplace=True)
df_gold.drop(index_to_drop2, inplace=True)

df_gold.to_csv('../data/processed/df_gold.csv', index=False)
df_gold.head()

      Date Price_Gold gold_return_mo gold_return_pa
1  2024-08    2503.39       0.022794        0.31056
2  2024-07     2447.6       0.051939       0.836068
3  2024-06    2326.75      -0.000249      -0.002986
4  2024-05    2327.33       0.017968       0.238258
5  2024-04    2286.25       0.025284       0.349367

# Government Bonds:

In [75]:
df_gov_bonds = df_gov_bonds.iloc[1:].reset_index(drop=True)
df_gov_bonds.rename(columns={'Unnamed: 0': 'Date'}, inplace=True)
df_gov_bonds.rename(columns={'Yield (%)': 'Gov_Bond_Yield'}, inplace=True)
df_gov_bonds['Date'] = pd.to_datetime(df_gov_bonds['Date'], errors='coerce')
df_gov_bonds['Date'] = df_gov_bonds['Date'].dt.strftime('%Y-%m')  

df_gov_bonds['bond_return_pa'] = df_gov_bonds['Gov_Bond_Yield'] / 100

index_to_drop = df_gov_bonds[df_gov_bonds['Date'] == '2018-01'].index
index_to_drop2 = df_gov_bonds[df_gov_bonds['Date'] == '2024-09'].index

df_gov_bonds.drop(index_to_drop, inplace=True)
df_gov_bonds.drop(index_to_drop2, inplace=True)

df_gov_bonds.to_csv('../data/processed/df_gov_bonds.csv', index=False)
df_gov_bonds.head()

      Date  Gov_Bond_Yield  bond_return_pa
0  2024-08          26.715         0.26715
1  2024-07          26.465         0.26465
2  2024-06          26.745         0.26745
3  2024-05          26.330         0.26330
4  2024-04          26.300         0.26300

# House Price Index:

In [76]:
# Load and clean data
df_hpi = df_hpi.iloc[1:].reset_index(drop=True)  # Remove the first row and reset index
df_hpi.rename(columns={'Tarih': 'Date'}, inplace=True)  # Rename 'Tarih' to 'Date'
df_hpi['Date'] = pd.to_datetime(df_hpi['Date'], errors='coerce')  # Convert 'Date' to datetime
df_hpi['Date'] = df_hpi['Date'].dt.strftime('%Y-%m')  # Format 'Date' as YYYY-MM

# Remove rows with invalid 'Date' values
df_hpi = df_hpi.dropna(subset=['Date'])

# Calculate monthly and annualized HPI returns
df_hpi['hpi_return_mo'] = df_hpi['TP KFE TR-1'] / 100
df_hpi['hpi_return_pa'] = (1 + df_hpi['hpi_return_mo']) ** 12 - 1

# Ensure 'Date' is in datetime format for filtering
df_hpi['Date'] = pd.to_datetime(df_hpi['Date'], errors='coerce')

# Define the date range for filtering
start_date = '2018-01'
end_date = '2024-09'

# Filter rows by date range
df_hpi = df_hpi[(df_hpi['Date'] >= start_date) & (df_hpi['Date'] <= end_date)]

# Format 'Date' to remove the day (keep only YYYY-MM)
df_hpi['Date'] = df_hpi['Date'].dt.strftime('%Y-%m')

index_to_drop = df_hpi[df_hpi['Date'] == '2018-01'].index
index_to_drop2 = df_hpi[df_hpi['Date'] == '2024-09'].index

df_hpi.drop(index_to_drop, inplace=True)
df_hpi.drop(index_to_drop2, inplace=True)

# Save the filtered DataFrame to a CSV file
df_hpi.to_csv('../data/processed/df_hpi.csv', index=False)
df_hpi.head()

      Date  TP KFE TR  TP KFE TR-1  TP KFE TR-3  hpi_return_mo  hpi_return_pa
0  2024-08     146.50     3.658105    34.440672       0.036581       0.539002
1  2024-07     141.33     0.928372    38.735643       0.009284       0.117273
2  2024-06     140.03     1.544598    46.383023       0.015446       0.201937
3  2024-05     137.90     3.918613    51.338894       0.039186       0.586062
4  2024-04     132.70     0.920222    51.570531       0.009202       0.116191

# Inflation:

In [77]:
df_inf.head()

      Date  Inflation
0  2024-09     0.4910
1  2024-08     0.5156
2  2024-07     0.6023
3  2024-06     0.7141
4  2024-05     0.7498

# The Adjustment for Annual Returns:

In [78]:
def real_return(nom_ret, inf_rate):
    return ((1 + nom_ret) / (1 + inf_rate)) - 1

In [79]:
merged_df_risk_free = pd.merge(df_risk_free, df_inf, on="Date", how="inner")
merged_df_risk_free["real_return_riskfree"] = real_return(merged_df_risk_free["Yield"], merged_df_risk_free["Inflation"])
merged_df_risk_free.head()

      Date     Yield  Inflation  real_return_riskfree
0  2024-09  0.037809     0.4910             -0.303951
1  2024-08  0.039034     0.5156             -0.314440
2  2024-07  0.040296     0.6023             -0.350748
3  2024-06  0.043961     0.7141             -0.390957
4  2024-05  0.044985     0.7498             -0.402797

In [80]:
merged_df_btc = pd.merge(df_bitcoin, df_inf, on="Date", how="inner")
merged_df_btc["real_return_bitcoin"] = real_return(merged_df_btc["btc_return_pa"], merged_df_btc["Inflation"])
merged_df_btc = merged_df_btc.drop(columns=["Inflation"])
merged_df_btc.head()

      Date Price_Bitcoin btc_return_mo btc_return_pa real_return_bitcoin
0  2024-09      63785.09      0.081934      1.572833            0.725575
1  2024-08      58954.67     -0.086823     -0.663752           -0.778142
2  2024-07      64559.96      0.042888      0.655212            0.033023
3  2024-06      61904.96     -0.084658      -0.65406            -0.79818
4  2024-05      67630.41      0.129642      3.318071            1.467751

In [81]:
merged_df_gold = pd.merge(df_gold, df_inf, on="Date", how="inner")
merged_df_gold["real_return_gold"] = real_return(merged_df_gold["gold_return_pa"], merged_df_gold["Inflation"])
merged_df_gold = merged_df_gold.drop(columns=["Inflation"])
merged_df_gold.head()

      Date Price_Gold gold_return_mo gold_return_pa real_return_gold
0  2024-08    2503.39       0.022794        0.31056        -0.135287
1  2024-07     2447.6       0.051939       0.836068         0.145895
2  2024-06    2326.75      -0.000249      -0.002986        -0.418346
3  2024-05    2327.33       0.017968       0.238258        -0.292343
4  2024-04    2286.25       0.025284       0.349367        -0.232486

In [82]:
merged_df_stockex = pd.merge(df_stock_exchange, df_inf, on="Date", how="inner")
merged_df_stockex["real_return_stockex"] = real_return(df_stock_exchange["stock_return_pa"], df_inf["Inflation"])
merged_df_stockex = merged_df_stockex.drop(columns=["Inflation"])
merged_df_stockex.head()

      Date Price_Stock_Ex stock_return_mo stock_return_pa real_return_stockex
0  2024-08         288.57       -0.101756       -0.724111                 NaN
1  2024-07         321.26       -0.012055       -0.135442           -0.817967
2  2024-06         325.18        0.006874        0.085678           -0.460427
3  2024-05         322.96        0.041538         0.62967           -0.366619
4  2024-04         310.08         0.09825        2.079046           -0.068653

In [83]:
merged_df_bonds = pd.merge(df_gov_bonds, df_inf, on="Date", how="inner")
merged_df_bonds["real_return_bond"] = real_return(df_gov_bonds["bond_return_pa"], df_inf["Inflation"])
merged_df_bonds = merged_df_bonds.drop(columns=["Inflation"])
merged_df_bonds.head()

      Date  Gov_Bond_Yield  bond_return_pa  real_return_bond
0  2024-08          26.715         0.26715         -0.150134
1  2024-07          26.465         0.26465         -0.165578
2  2024-06          26.745         0.26745         -0.208981
3  2024-05          26.330         0.26330         -0.262995
4  2024-04          26.300         0.26300         -0.278203

In [84]:
merged_df_hpi = pd.merge(df_hpi, df_inf, on="Date", how="inner")
merged_df_hpi["real_return_hpi"] = real_return(df_hpi["hpi_return_pa"], df_inf["Inflation"])
merged_df_hpi = merged_df_hpi.drop(columns=["Inflation"])
merged_df_hpi.head()

,Date,TP KFE TR,TP KFE TR-1,TP KFE TR-3,hpi_return_mo,hpi_return_pa,real_return_hpi
0,2024-08,146.50,3.658105,34.440672,0.036581,0.539002,0.032195
1,2024-07,141.33,0.928372,38.735643,0.009284,0.117273,-0.262818
2,2024-06,140.03,1.544598,46.383023,0.015446,0.201937,-0.249867
3,2024-05,137.90,3.918613,51.338894,0.039186,0.586062,-0.074697
4,2024-04,132.70,0.920222,51.570531,0.009202,0.116191,-0.362104

# Master_Table:

In [85]:
merged_all = pd.merge(merged_df_btc, merged_df_gold, on="Date", how="inner")
merged_all = pd.merge(merged_all, merged_df_stockex, on="Date", how="inner")
merged_all = pd.merge(merged_all, merged_df_bonds, on="Date", how="inner")
merged_all = pd.merge(merged_all, merged_df_hpi, on="Date", how="inner")
merged_all.to_csv('../data/processed/master_table.csv', index=False)
merged_all.head()

,Date,Price_Bitcoin,btc_return_mo,btc_return_pa,real_return_bitcoin,Price_Gold,gold_return_mo,gold_return_pa,real_return_gold,Price_Stock_Ex,...,real_return_stockex,Gov_Bond_Yield,bond_return_pa,real_return_bond,TP KFE TR,TP KFE TR-1,TP KFE TR-3,hpi_return_mo,hpi_return_pa,real_return_hpi
0,2024-08,58954.67,-0.086823,-0.663752,-0.778142,2503.39,0.022794,0.31056,-0.135287,288.57,...,NaN,26.715,0.26715,-0.150134,146.50,3.658105,34.440672,0.036581,0.539002,0.032195
1,2024-07,64559.96,0.042888,0.655212,0.033023,2447.6,0.051939,0.836068,0.145895,321.26,...,-0.817967,26.465,0.26465,-0.165578,141.33,0.928372,38.735643,0.009284,0.117273,-0.262818
2,2024-06,61904.96,-0.084658,-0.65406,-0.79818,2326.75,-0.000249,-0.002986,-0.418346,325.18,...,-0.460427,26.745,0.26745,-0.208981,140.03,1.544598,46.383023,0.015446,0.201937,-0.249867
3,2024-05,67630.41,0.129642,3.318071,1.467751,2327.33,0.017968,0.238258,-0.292343,322.96,...,-0.366619,26.330,0.26330,-0.262995,137.90,3.918613,51.338894,0.039186,0.586062,-0.074697
4,2024-04,59868.89,-0.15494,-0.867368,-0.92456,2286.25,0.025284,0.349367,-0.232486,310.08,...,-0.068653,26.300,0.26300,-0.278203,132.70,0.920222,51.570531,0.009202,0.116191,-0.362104

# Database:

In [86]:
import sqlite3
db_path = '../data/processed/database_final.db'
conn = sqlite3.connect(db_path)

In [87]:
merged_df_stockex.to_sql('STOCKEX', conn, if_exists='replace', index=False)
merged_df_btc.to_sql('BTC', conn, if_exists='replace', index=False)
merged_df_gold.to_sql('GOLD', conn, if_exists='replace', index=False)
merged_df_bonds.to_sql('BOND', conn, if_exists='replace', index=False)
merged_df_hpi.to_sql("HPI",conn, if_exists='replace', index=False)
df_inf.to_sql("INF",conn, if_exists='replace', index=False)
merged_df_risk_free.to_sql("RF", conn, if_exists='replace', index=False)

81

In [88]:
query = "SELECT * FROM STOCKEX"
TRIAL = pd.read_sql_query(query, conn)
TRIAL

,Date,Price_Stock_Ex,stock_return_mo,stock_return_pa,real_return_stockex
0,2024-08,288.57,-0.101756,-0.724111,NaN
1,2024-07,321.26,-0.012055,-0.135442,-0.817967
2,2024-06,325.18,0.006874,0.085678,-0.460427
3,2024-05,322.96,0.041538,0.629670,-0.366619
4,2024-04,310.08,0.098250,2.079046,-0.068653
...,...,...,...,...,...
74,2018-06,210.04,-0.052380,-0.475662,-0.584945
75,2018-05,221.65,-0.134416,-0.823108,-0.542463
76,2018-04,256.07,-0.118793,-0.780752,-0.842958
77,2018-03,290.59,-0.072220,-0.593238,-0.804661
78,2018-02,313.21,-0.014753,-0.163355,-0.634994