In [14]:
import pandas as pd

In [15]:
df_stock_exchange = pd.read_excel('borsa_ist.xlsx')
df_bitcoin = pd.read_excel('btc.xlsx')
df_gold = pd.read_excel('gold_prices.xlsx')
df_gov_bonds = pd.read_excel('gov_bonds.xlsx')
df_hpi = pd.read_excel('hpi.xlsx')

# Stock_Exchange:

In [16]:
df_stock_exchange = df_stock_exchange.iloc[1:].reset_index(drop=True)
df_stock_exchange.rename(columns={'Unnamed: 0': 'Date'}, inplace=True)
df_stock_exchange.rename(columns={'Last Price (TRY)': 'Price_Stock_Ex'}, inplace=True)
df_stock_exchange['Date'] = pd.to_datetime(df_stock_exchange['Date'], errors='coerce')
df_stock_exchange['Date'] = df_stock_exchange['Date'].dt.strftime('%Y-%m')
df_stock_exchange
df_stock_exchange.to_csv('df_stock_exchange.csv', index=False)

# Bitcoin:

In [17]:
df_bitcoin = df_bitcoin.iloc[1:].reset_index(drop=True)
df_bitcoin.rename(columns={'Unnamed: 0': 'Date'}, inplace=True)
df_bitcoin.rename(columns={'Unnamed: 1': 'Price_Bitcoin'}, inplace=True)
df_bitcoin['Date'] = pd.to_datetime(df_bitcoin['Date'], errors='coerce')
df_bitcoin['Date'] = df_bitcoin['Date'].dt.strftime('%Y-%m')  
df_bitcoin
df_bitcoin.to_csv('df_bitcoin.csv', index=False)

# Gold:

In [18]:
df_gold = df_gold.iloc[1:].reset_index(drop=True)
df_gold.rename(columns={'Unnamed: 0': 'Date'}, inplace=True)
df_gold.rename(columns={'Last Price (TRY)': 'Price_Gold'}, inplace=True)
df_gold['Date'] = pd.to_datetime(df_gold['Date'], errors='coerce')
df_gold['Date'] = df_gold['Date'].dt.strftime('%Y-%m')
df_gold
df_gold.to_csv('df_gold.csv', index=False)

# Government Bonds:

In [19]:
df_gov_bonds = df_gov_bonds.iloc[1:].reset_index(drop=True)
df_gov_bonds.rename(columns={'Unnamed: 0': 'Date'}, inplace=True)
df_gov_bonds.rename(columns={'Yield (%)': 'Gov_Bond_Yield'}, inplace=True)
df_gov_bonds['Date'] = pd.to_datetime(df_gov_bonds['Date'], errors='coerce')
df_gov_bonds['Date'] = df_gov_bonds['Date'].dt.strftime('%Y-%m')  
df_gov_bonds
df_gov_bonds.to_csv('df_gov_bonds.csv', index=False)

# House Price Index:

In [20]:
df_hpi = df_hpi.iloc[1:].reset_index(drop=True)

df_hpi.rename(columns={'Tarih': 'Date'}, inplace=True)
df_hpi['Date'] = pd.to_datetime(df_hpi['Date'], errors='coerce')

df_gov_bonds['Date'] = pd.to_datetime(df_gov_bonds['Date'], errors='coerce')
df_hpi['Date'] = df_gov_bonds['Date'].dt.strftime('%Y-%m')

df_hpi = df_hpi.dropna(subset=['Date'])

df_hpi.to_csv('df_hpi.csv', index=False)

In [21]:
df_hpi

       Date  TP KFE TR  TP KFE TR-1  TP KFE TR-3
0   2024-08     146.50     3.658105    34.440672
1   2024-07     141.33     0.928372    38.735643
2   2024-06     140.03     1.544598    46.383023
3   2024-05     137.90     3.918613    51.338894
4   2024-04     132.70     0.920222    51.570531
5   2024-03     131.49     1.247401    55.278696
6   2024-02     129.87     3.309204    65.650510
7   2024-01     125.71     2.679082    70.154304
8   2023-12     122.43     1.965520    83.141361
9   2023-11     120.07     0.746770    87.024922
10  2023-10     119.18     2.582200    91.947173
11  2023-09     116.18     6.616500    95.326160
12  2023-08     108.97     6.969667    93.690011
13  2023-06     101.87     6.491742    92.062594
14  2023-05      95.66     4.982441    93.135473
15  2023-04      91.12     4.077670   104.488330
16  2023-03      87.55     3.389230   121.982759
17  2023-02      84.68     8.010204   139.276632
18  2023-01      78.40     6.118029   142.724458
19  2022-10      73.88    10.516081   146.677796
20  2022-09      66.85     4.127726   151.883949
21  2022-08      64.20     3.398293   176.485788
22  2022-07      62.09     4.388030   186.789838
23  2022-06      59.48     5.723427   186.374579
24  2022-02      56.26     6.070890   181.440720
25  2022-01      53.04     7.086614   173.261206
26  2021-12      49.53    11.153501   164.019190
27  2021-11      44.56    12.981744   143.897099
28  2021-10      39.44    11.443911   120.828667
29  2021-09      35.39     9.566563   104.330254
30  2021-08      32.30     7.846411    90.223793
31  2021-07      29.95    12.848531    81.625227
32  2021-06      26.54    14.298019    63.524338
33  2021-05      23.22     7.251732    44.582814
34  2021-04      21.65     4.236880    39.049454
35  2021-03      20.77     3.901951    36.375575
36  2021-02      19.99     2.988150    32.735724
37  2021-01      19.41     3.464819    30.707071
38  2020-12      18.76     2.681992    31.005587
39  2020-05      18.27     2.295633    36.343284
40  2020-04      17.86     3.117783    35.817490
41  2020-03      17.32     2.002356    31.911653
42  2020-02      16.98     2.971498    31.730023
43  2020-01      16.49     1.601972    30.769231
44  2019-12      16.23     1.058531    32.058584
45  2019-11      16.06     3.147078    32.289951
46  2019-07      15.57     2.232436    29.641965
47  2019-06      15.23     1.128818    28.198653
48  2019-05      15.06     1.414141    27.843803
49  2019-04      14.85     3.701117    29.468178
50  2019-03      14.32     6.865672    25.614035
51  2018-12      13.40     1.901141    16.928447
52  2018-11      13.15     0.152323    16.268789
53  2018-09      13.13     1.861908    16.814947
54  2018-08      12.89     2.220460    15.192136
55  2018-07      12.61     2.603743    12.790698
56  2018-03      12.29     1.235585     9.830206
57  2018-02      12.14     1.082431     7.243816
58  2018-01      12.01     1.094276     6.283186

# Database:

In [23]:
import sqlite3

In [24]:
conn = sqlite3.connect('database_name.db')

In [25]:
df_stock_exchange.to_sql('STOCKEX', conn, if_exists='replace', index=False)
df_bitcoin.to_sql('BTC', conn, if_exists='replace', index=False)
df_gold.to_sql('GOLD', conn, if_exists='replace', index=False)
df_gov_bonds.to_sql('BOND', conn, if_exists='replace', index=False)
df_hpi.to_sql("HPI",conn, if_exists='replace', index=False)

59

In [26]:
query = "SELECT * FROM STOCKEX"
TRIAL = pd.read_sql_query(query, conn)
print(TRIAL)

       Date  Price_Stock_Ex
0   2024-08         9833.22
1   2024-07        10638.58
2   2024-06        10647.91
3   2024-05        10400.48
4   2024-04        10045.74
..      ...             ...
75  2018-05         1006.52
76  2018-04         1042.83
77  2018-03         1149.30
78  2018-02         1189.51
79  2018-01         1195.29

[80 rows x 2 columns]